[submodule "imasviz/VizPlugins/viz_ETS/ets-viz"]
	path = imasviz/VizPlugins/viz_ETS/ets-viz
	url = ssh://git@git.iter.org/vis/ets-viz.git
[submodule "imasviz/VizPlugins/viz_ETS/ets_viz"]
	path = imasviz/VizPlugins/viz_ETS/ets_viz
	url = ssh://git@git.iter.org/vis/ets-viz.git
